.idea
data
.env

/uploads/
!/uploads/img0.jpg
!/uploads/img1.jpg
!/uploads/img2.jpg
!/uploads/img3.jpg
!/uploads/img4.jpg
!/uploads/img5.jpg
!/uploads/img6.jpg
!/uploads/img7.jpg
!/uploads/img8.jpg
!/uploads/img9.jpg
!/uploads/logoInsubriParks.png
!/uploads/Parco_CampoFiori.jpg
!/uploads/Parco_GoleBreggia.jpg
!/uploads/Parco_Penz.jpg
!/uploads/Parco_Pineta.jpg
!/uploads/Parco_SpinaVerde.jpg
!/uploads/video1.mp4
!/uploads/video2.webm
